// --------------------------------------------------------
// _subWorks.scss
// --------------------------------------------------------

@use '../../../foundation/base'as b;

.p-subWorks {
    margin: 70px auto 110px;
    max-width: 1170px;

    @include b.mq(sp) {
        margin: 40px auto 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;

        &__title {
            margin-top: 15px;
            line-height: calc(28.8 / 16);
            letter-spacing: 0.05em;
            text-align: center;
        }
    }
}