// --------------------------------------------------------
// _subContact.scss
// --------------------------------------------------------

@use '../../../foundation/base'as b;

.p-subContact {
    padding-top: 70px;
    padding-bottom: 110px;
    max-width: 810px;
    margin: 0 auto;
    font-size: b.p2r(15);
    line-height: calc(27 / 15);
    letter-spacing: 0.05em;

    :where(input[type="radio"],
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea,
        select) {
        all: revert;
    }

    @include b.mq(sp) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__guidance {
        text-align: center;

        @include b.mq(sp) {
            font-size: b.p2r(14);
        }
    }

    &__box {
        margin-top: 40px;
        padding: 90px 60px 90px 90px;
        background-color: var(--color-whitishGray);

        @include b.mq(sp) {
            margin-top: 30px;
            padding: 30px;
        }
    }

    &__capt {
        display: block;
        margin-bottom: 5px;
        font-weight: 900;

        &:not(:first-of-type) {
            margin-top: 30px;
        }
    }

    &__required {
        margin-left: 10px;
        font-size: b.p2r(12);
        line-height: calc(14.4 / 12);
        color: var(--color-purple);
    }

    &__radioCapt {
        margin-bottom: 9px;
        margin-right: 35px;
        display: inline-flex;
        align-items: center;
        line-height: calc(18 / 15);

        @include b.mq(sp) {
            display: flex;
            row-gap: 5px;
            font-size: b.p2r(14);
        }
    }

    &__text {
        width: 300px;
        height: 43px;
        padding-left: 10px;
        font-size: b.p2r(15);
        line-height: calc(27 / 15);
        border-radius: 5px;
        border: 1px solid #aaaaaa;

        @include b.mq(sp) {
            width: 100%;
            max-width: 300px;
        }
    }

    &__textarea {
        padding: 10px;
        width: 100%;
        height: 200px;
        font-size: b.p2r(15);
        line-height: calc(27 / 15);
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        resize: vertical;
        box-sizing: border-box;
    }

    &__select {
        margin-bottom: 50px;
        width: 300px;
        height: 43px;
        padding-left: 10px;
        font-size: b.p2r(15);
        line-height: calc(27 / 15);
        border-radius: 5px;
        border: 1px solid #aaaaaa;

        @include b.mq(sp) {
            width: 100%;
            max-width: 300px;
        }
    }
}