// --------------------------------------------------------
// _news.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.p-secNews {
    max-width: 910px;
    margin: 70px auto 0;
    display: flex;
    column-gap: 50px;

    @include b.mq(sp) {
        display: block;
        margin: 40px auto 0;
    }

    &__list {
        @include b.mq(sp) {
            margin-top: 30px;
        }

        &__item {
            display: flex;
            align-items: flex-start;

            @include b.mq(sp) {
                flex-wrap: wrap;

            }

            &+& {
                margin-top: 15px;

                @include b.mq(sp) {
                    margin-top: 30px;
                }
            }

            &__date {
                display: block;
                min-width: 104px;
                @include b.f_montserrat(400);
                font-size: b.p2r(14);
                line-height: calc(25.2 / 14);
                letter-spacing: 0.1em;
            }

            &__desc {
                display: flex;
                align-items: flex-start;
                font-size: b.p2r(14);
                line-height: calc(25.2 / 14);
                letter-spacing: 0.05em;

                @include b.mq(sp) {
                    margin-top: 5px;
                    width: 100%;
                }
            }

            &__cat {
                display: block;
                margin-right: 20px;
                min-width: 80px;
                padding: 2px 10px;
                background-color: var(--color-gray);
                border-radius: 100px;
                font-weight: 900;
                font-size: b.p2r(12);
                line-height: calc(21.6 / 12);
                letter-spacing: 0.05em;
                text-align: center;

                @include b.mq(sp) {
                    font-size: b.p2r(11);
                }
            }
        }
    }
}