// --------------------------------------------------------
// _recruit.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.p-secRecruit {
    max-width: 1110px;
    margin: 0 auto 110px;
    display: flex;

    &__textBox {
        padding: 70px 0;
        width: 40%;
        background-color: var(--color-whitishGray);

        &__text {
            margin: 30px 0;
            font-size: b.p2r(15);
            line-height: calc(27 / 15);
            letter-spacing: 0.05em;
            text-align: center;
        }
    }

    &__imgCtn {
        width: 60%;

        &__img {
            height: 100%;
            object-fit: cover;
        }
    }
}