// --------------------------------------------------------
// _service.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.p-secService {
    margin-top: 140px;

    &__list {
        margin: 30px auto;
        max-width: 1110px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        &__item {
            &__heading {
                margin: 15px 0;
                font-weight: 900;
                font-size: b.p2r(18);
                line-height: calc(21.6 / 18);
                letter-spacing: 0.05em;
                text-align: center;
            }

            &__text {
                font-size: b.p2r(15);
                line-height: calc(27 / 15);
                letter-spacing: 0.05em;
            }
        }
    }
}