// --------------------------------------------------------
// _works.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.p-secWorks {
    margin-top: 130px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-image: linear-gradient(var(--color-lightGray) 0%, var(--color-lightGray) 100%);
    background-repeat: no-repeat;
    background-position: right 70px top 0;
    background-size: 54% 100%;

    &__sliderCtn {
        width: 58%;
    }

    &__textCtn {
        width: 42%;
        display: grid;
        place-content: center;

        &__text {
            margin: 30px 0;
            font-size: b.p2r(15);
            line-height: calc(27 / 15);
            letter-spacing: 0.05em;
            text-align: center;
        }
    }
}

// スワイパーカスタマイズ
.swiper {
    position: relative;

    &-button-prev {
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        z-index: 10;

        &::before {
            content: "\f104";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 30px;
            color: var(--color-purple);
        }
    }

    &-button-next {
        position: absolute;
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        z-index: 10;

        &::before {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 30px;
            color: var(--color-purple);
        }
    }

    &-pagination {
        padding: 12px 4px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
    
        &-bullet {
            background-color: var(--color-darkGray);
            border-radius: 50%;
            height: 8px;
            width: 8px;
    
            &-active {
                background-color: var(--color-purple);
            }
        }
    }
}


