// --------------------------------------------------------
// _contact.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.c-secContact {
    padding: 70px 0;
    background-color: var(--color-whitishGray);

    @include b.mq(sp) {
        padding: 60px 0;

    }

    &__text {
        margin: 30px 0 20px;
        font-size: b.p2r(15);
        line-height: calc(27 / 15);
        letter-spacing: 0.05em;
        text-align: center;

        @include b.mq(sp) {
            font-size: b.p2r(14);
        }
    }
}