// --------------------------------------------------------
// _heading.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.c-heading {
    @include b.f_montserrat(700);
    font-size: b.p2r(36);
    line-height: calc(43.2 / 36);
    letter-spacing: 0.05em;
    color: var(--color-purple);
    text-align: center;

    @include b.mq(sp) {
        font-size: b.p2r(30);
    }

    &--news {
        text-align: left;

        @include b.mq(sp) {
            text-align: center;
        }
    }

    &--white {
        color: white;
    }

    &__sub {
        display: block;
        margin-top: 5px;
        @include b.f_zenkakugo(700);
        font-size: b.p2r(13);
        line-height: calc(15.6 / 13);

        @include b.mq(sp) {
            margin-top: 3px;
        }
    }
}