// --------------------------------------------------------
// _utility.scss
// --------------------------------------------------------

@use '../../foundation/base'as b;

.u-wrapper {
    padding-left: 30px;
    padding-right: 30px;

    @include b.mq(sp) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.u-wrapper70 {
    padding-left: 70px;
    padding-right: 70px;

    @include b.mq(tab) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.u-spOnly {
    display: none;

    @include b.mq(sp) {
        display: initial;
    }
}